<div [formGroup]="form" class="age-input">
  <div>
    <mat-form-field>
      <input type="text" [matDatepicker]="birthdayPicker" matInput formControlName="birthday" placeholder="Birthday" required>
      <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdayPicker></mat-datepicker>
      <mat-error>Date is incorrect</mat-error>
    </mat-form-field>
  </div>
  <ng-container formGroupName="age">
    <div class="age-num">
      <mat-form-field>
        <input type="number" placeholder="age" matInput formControlName="ageNum" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-button-toggle-group formControlName="ageUnit" [(ngModel)]="selectedUnit">
        <mat-button-toggle *ngFor="let unit of ageUnits" [value]="unit.value">
          {{unit.label}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-error *ngIf="form.get('age').hasError('ageInvalid')">Age or age unit is not correct</mat-error>
  </ng-container>
</div>
