.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 800px;
}
.card {
  min-width: 280px;
  max-height: 150px;
  margin: 20px;
  :hover {
    cursor: pointer;
  }
}
mat-icon.avatar {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}
