<div class="container">
  <mat-card *ngFor="let item of (items$ | async)" class="card" (click)="onClick($event, item.task)">
    <mat-card-content>
      <h3 [ngStyle]="{'color': item.task.priority === 1 ? 'red' : item.task.priority === 2 ? '#FFAF38' : '#A6A6A6'}">
        <span>{{item.task.name}}</span>
      </h3>
      <div>{{item.task.description}}</div>
      <!--<div *ngIf="item.task.remark">-->
        <!--<strong>Remark: </strong>-->
        <!--<span>{{task.remark}}</span>-->
      <!--</div>-->
    </mat-card-content>
    <mat-card-actions>
      <span *ngFor="let avatar of item.avatars">
        <mat-icon mat-line [svgIcon]="avatar" mat-list-avatar class="avatar"></mat-icon>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
