<form [formGroup]="form" (submit)="onSubmit(form, $event)">
  <h2 mat-dialog-title>{{projectTitle}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Project Name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Project Description" formControlName="desc">
    </mat-form-field>
    <app-image-list-select
      [cols]="6"
      [title]="'select cover'"
      [items]="coverImages"
      formControlName="coverImg"
      [useSvgIcon]="false"></app-image-list-select>
  </div>
  <div matDialogActions>
    <button mat-raised-button type="button" [disabled]="!form.valid" type="submit">Save</button>
    <button mat-button type="button" mat-dialog-close>Close</button>
  </div>
</form>
