<div [formGroup]="form">
  <span>{{label}}</span>
  <mat-chip-list>
    <mat-chip selected="true" color="primary" *ngFor="let member of items">
      {{member.name}} <span style="color: black; font-size: 16px; font-weight: bold" class="remove-tag" *ngIf="removable"
                            (click)="removeMember(member)">&nbsp;x</span>
    </mat-chip>
  </mat-chip-list>
  <mat-form-field class="full-width" *ngIf="displayInput">
    <input type="text"
           matInput [placeholder]="placeholderText"
           [matAutocomplete]="autoMember"
           formControlName="memberSearch">
  </mat-form-field>
</div>
<mat-autocomplete #autoMember="matAutocomplete" [displayWith]="displayUser">
  <mat-option *ngFor="let item of memberResults$ | async"
              [value]="item"
              (onSelectionChange)="handleMemberSelection(item)">{{item.name}}
  </mat-option>
</mat-autocomplete>
