<form [formGroup]="form" (submit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input placeholder="Please register to test" matInput type="email" formControlName="email">
        <mat-error>{{ form.controls['email'].errors | json}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input placeholder="Your password" matInput type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" [disabled]="form.invalid">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-end">
      <p>New? <a routerLink="/register">Register</a> </p>
      <p>Forget password? <a routerLink="/forget-password">Get it back</a> </p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Daily words</mat-card-title>
    </mat-card-header>
    <img [src]="quote.pic" mat-card-image />
    <mat-card-content>
      {{quote.content}}
    </mat-card-content>
  </mat-card>
</form>


