form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-card {
  flex: 0 1 25em;
  height: 25em;
}

.full-width {
  width: 100%;
}

.text-end {
  margin: 10px;
  text-align: right;
}
