<form #resetForm="ngForm" (submit)="onSubmit($event, fpForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reset password:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input placeholder="password" matInput type="password" #password="ngModel" [(ngModel)]="model.password" name="email" required>
        <!--<mat-error>{{ fpForm.controls['email'].errors | json}}</mat-error>-->
      </mat-form-field>
      <mat-form-field class="full-width">
        <input placeholder="repeat password" matInput type="password" #repeat="ngModel" [(ngModel)]="model.repeat" name="repeat" required>
        <!--<mat-error>{{ fpForm.controls['email'].errors | json}}</mat-error>-->
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="text-end">
      <button mat-raised-button type="submit" color="accent" [disabled]="resetForm.form.invalid">Reset</button>
      <p>New? <a routerLink="/register">Register</a> </p>
      <p><a routerLink="/login">Back to Login</a> </p>
    </mat-card-actions>
  </mat-card>
</form>

