@import "~@angular/material/theming";

@include mat-core();

$my-app-primary: mat-palette($mat-indigo, A400, A100, A800);
$my-app-accent: mat-palette($mat-blue, A100, A200, A400);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

$my-dark-primary: mat-palette($mat-blue-grey, A400, A100, A800);
$my-dark-accent: mat-palette($mat-amber, A100, A200, A400);
$my-dark-warn: mat-palette($mat-deep-orange);

$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

.myapp-dark-theme {
  @include angular-material-theme($my-dark-theme);
}
