<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="fill-remaining-spaces"></span>
    <span>&copy; Angular 6 task manager</span>
    <span class="fill-remaining-spaces"></span>
  </mat-toolbar-row>
</mat-toolbar>
