<form [formGroup]="form">
  <h2 mat-dialog-title>{{dialogTitle}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="task name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="description" formControlName="description" required>
    </mat-form-field>
    <mat-radio-group class="full-width" formControlName="priority" required>
      <mat-radio-button [checked]="priority.priority === selectedPriority"
        *ngFor="let priority of priorities" [value]="priority.priority">{{priority.name}}</mat-radio-button>
    </mat-radio-group>
    <div class="full-width">
      <app-chips-list [label]="'change executor'" [projectUsers]="projectUsers" [removable]="false" [multiple]="false" formControlName="owner"></app-chips-list>
    </div>
    <div class="full-width">
      <app-chips-list [label]="'change joinee (required)'" [projectUsers]="projectUsers" [removable]="true" [multiple]="true" formControlName="participants"></app-chips-list>
    </div>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="startPicker" placeholder="Choose start date" formControlName="startDate" required>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="endPicker" placeholder="Choose end date" formControlName="dueDate" required>
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="note" formControlName="remark"></textarea>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-raised-button type="button" (click)="onSubmit($event, form)" [disabled]="!form.valid">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
