<div class="dialog">
  <h2 mat-dialog-title><span [ngStyle]="{'color': data.color}"><strong>{{task.name}}</strong></span></h2>
  <mat-dialog-content>
    <div><strong>Description: </strong>{{task.description}}</div>
    <div><strong>Date: </strong>{{task.startDate | date}} -- {{task.dueDate | date}}</div>
    <div>
      <span><strong>Owner: </strong> {{taskOwner.name}}</span>
      <mat-icon mat-line [svgIcon]="taskOwner.avatar" mat-list-avatar class="avatar"></mat-icon>
    </div>
    <div>
      <div *ngFor="let p of taskParticipants">
        <strong>Participants: </strong>
        <span>
        {{p.name}}
        <mat-icon mat-line [svgIcon]="p.avatar" mat-list-avatar class="avatar"></mat-icon>
        </span>
      </div>
    </div>
    <div *ngIf="task.remark">
      <strong>Remark: </strong>
      <span>{{task.remark}}</span>
    </div>
  </mat-dialog-content>
</div>
