mat-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
  order: 3;
}

mat-list-item {
  cursor: pointer;
}

.completed {
  opacity: 0.64;
  color: #d9d9d9;
  text-decoration: line-through;
}

.priority-normal {
  border-left: 3px solid #A6A6A6;
}

.priority-important {
  border-left: 3px solid #FFAF38;
}

.priority-emergency {
  border-left: 3px solid red;
}

.checkbox-section {
  border: 0 solid #A6A6A6;
}

.duedate {
  background-color: #FF4F3E;
  color: #fff;
  line-height: 1;
}

.alarm {
  line-height: 1;
  width: 0;
  height: 0;
  font-size: 15px;
}

.bottom-bar {
  font-size: 10px;
  width: 100%;
  order: 1;
}

.status {
  order: -1;
}

.content {
  order: 1;
  width: 100%;
  padding: 5px;
}

.container {
  width: 100%;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.drag-start {
  opacity: 0.5;
  border: #ff525b dashed 2px;
}

:host {
  width: 100%;
}
