<mat-list-item class="container" [ngClass]="{
    'priority-normal': item.priority === 3,
    'priority-important': item.priority ===2,
    'priority-emergency': item.priority ===1
  }" (click)="onClick($event)" [@taskListItem]="widerPriority" appDraggable="true" [dragData]="item" [dragTag]="'task-item'"
               [draggedClass]="'drag-start'">
  <mat-checkbox class="status" [checked]="item.completed" (click)="onCheckboxClick($event)" (change)="onChange()"></mat-checkbox>
  <div mat-line class="content" [ngClass]="{'completed': item.completed}">{{item.name}}</div>
  <div mat-line class="bottom-bar">
    <span class="duedate" *ngIf="item.endDate">{{item.endDate | date:'yy-MM-dd'}}</span>
    <mat-icon *ngIf="item.reminder" class="alarm">alarm</mat-icon>
  </div>
  <mat-icon mat-line [svgIcon]="avatar" mat-list-avatar class="avatar"></mat-icon>
</mat-list-item>
