<form #myForm="ngForm" (ngSubmit)="submit($event, myForm)">
  <h2 mat-dialog-title>{{dialogTitle}}</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-select placeholder="Select list to be copied" [(ngModel)]="selectedList" name="selectedList" required>
        <mat-option *ngFor="let taskList of (taskLists$|async)" [value]="taskList">{{taskList.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button [disabled]="!myForm.valid" type="submit">Save</button>
    <span></span>
    <button mat-button type="button" mat-dialog-close (click)="onClick()">Close</button>
  </mat-dialog-actions>
</form>
