<div>
  <span> {{ title }} </span>
  <mat-icon [svgIcon]="selected" class="avatar" *ngIf="useSvgIcon; else imgSelect"></mat-icon>
  <ng-template #imgSelect>
    <img [src]="selected" alt = "image selected" class="cover" />
  </ng-template>
</div>
<div class="scroll-container">
  <mat-grid-list [cols]="8" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let item of items; let i = index">
      <div class="image-container" (click)="onChange(i)">
        <mat-icon [svgIcon]="item" class="avatar" *ngIf="useSvgIcon; else imgItem"></mat-icon>
        <ng-template #imgItem>
          <img [src]="item" alt="image item" [ngStyle]="{'width': itemWidth}" />
        </ng-template>
        <div class="after">
          <div class="zoom">
            <mat-icon>checked</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

