<mat-card (click)="onClick()">
  <mat-card-header>
    <mat-card-title>
      <h3>{{item.name}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item.coverImg" alt="Project Cover" />
  <mat-card-content>
    {{item.desc}}
  </mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button (click)="onEditClick($event)">
      <mat-icon>note</mat-icon>
      <span>Edit</span>
    </button>
    <button type="button" mat-button (click)="onInviteClick($event)">
      <mat-icon>group_add</mat-icon>
      <span>Invite</span>
    </button>
    <button type="button" mat-button (click)="onDeleteClick($event)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-card-actions>
</mat-card>
