<mat-nav-list>
  <h3 mat-subheader>Project</h3>
  <mat-list-item [routerLink]="['/project']" (click)="onSideNavClick()">
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Project Dashboard</span>
    <span mat-line mat-subheader>View all projects</span>
  </mat-list-item>
  <h3 mat-subheader>Tasks</h3>
  <!--<mat-list-item [routerLink]="['/tasks']" (click)="onSideNavClick()">-->
    <!--<mat-icon mat-list-icon svgIcon="month"></mat-icon>-->
    <!--<span mat-line>Month View</span>-->
    <!--<span mat-line mat-subheader>View projects monthly</span>-->
  <!--</mat-list-item>-->
  <!--<mat-list-item>-->
    <!--<mat-icon mat-list-icon svgIcon="week"></mat-icon>-->
    <!--<span mat-line>Week View</span>-->
    <!--<span mat-line mat-subheader>View projects weekly</span>-->
  <!--</mat-list-item>-->
  <mat-list-item [routerLink]="['/calendar']" (click)="onSideNavClick()">
    <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
    <span mat-line>Calendar</span>
    <span mat-line mat-subheader>View tasks in calendar</span>
  </mat-list-item>
  <mat-list-item [routerLink]="['/tasks/me']" (click)="onSideNavClick()">
    <mat-icon mat-list-icon svgIcon="tasks"></mat-icon>
    <span mat-line>All tasks</span>
    <span mat-line mat-subheader>View all my tasks</span>
  </mat-list-item>
</mat-nav-list>
