@import "app/theme.scss";
//@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
html, body, mat-sidenav-container, app-root .site {
  width: 100%;
  height: 100%;
  margin: 0;
}

.site  {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.fill-remaining-spaces {
  flex: 1 1 auto;
}
