<form #f="ngForm" (ngSubmit)="onSubmit($event, f)">
  <h2 mat-dialog-title>Invite Team Member</h2>
  <div mat-dialog-content>
    <app-chips-list [label]="'invite members'" name="members" [(ngModel)]="members"></app-chips-list>
  </div>
  <div matDialogActions>
    <button mat-raised-button type="submit" color="primary" [disabled]="!f.valid">Save</button>
    <button mat-button type="button" mat-dialog-close>Close</button>
  </div>
</form>

