form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.error-style {
  color: red;
  margin-top: 5px;
}

.mg-rg-xs {
  margin-right: 10px;
}

.text-end {
  margin: 10px;
  text-align: right;
}
