<form #fpForm="ngForm" (submit)="onSubmit($event, fpForm)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Forget password:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width mg-rg-xs">
        <input placeholder="email" matInput type="email" #email="ngModel" [(ngModel)]="model.email" name="email" required email>
        <!--<mat-error>{{ fpForm.controls['email'].errors | json}}</mat-error>-->
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" [disabled]="fpForm.form.invalid">Reset</button>
      <div *ngIf="email.touched && email.invalid" class="error-style">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-end">
      <p>New? <a routerLink="/register">Register</a> </p>
      <p><a routerLink="/login">Back to Login</a> </p>
    </mat-card-actions>
  </mat-card>
</form>
