mat-icon.avatar {
  overflow: hidden;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-actions span {
  line-height: 2;
}

mat-card-content mat-form-field {
  margin-right: 5px;
}
