<span></span>
<form [formGroup]="form" (submit)="onSubmit(form, $event)">
  <mat-card>
    <h2 mat-card-title>Register:</h2>
    <mat-card-content>
      <mat-form-field>
        <input placeholder="email" matInput type="email" formControlName="email" required>
        <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="name" matInput type="text" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="password" matInput type="password" formControlName="password" required>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="confirm password" matInput type="password" formControlName="repeat" required>
      </mat-form-field>
      <app-age-input formControlName="dateOfBirth"></app-age-input>
      <app-image-list-select
        formControlName="avatar"
        [cols]="8"
        [title]="'select your avatar: '"
        [items]="items"
        [useSvgIcon]="true"
        [rowHeight]=""></app-image-list-select>
      <!--<mat-grid-list cols="8">-->
        <!--<mat-grid-tile *ngFor="let item of items">-->
          <!--<mat-icon [svgIcon]="item" class="avatar"></mat-icon>-->
        <!--</mat-grid-tile>  -->
      <!--</mat-grid-list>-->
    </mat-card-content>
    <mat-card-actions>
        <span>Already registered? <a routerLink="/login">Login</a></span>
        <span>Forget password? <a routerLink="/forget-password">Get it back</a></span>
        <button mat-raised-button type="submit" color="accent" [disabled]="!form.valid">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
<span></span>

