<!--这里listAnim的trigger是projects length的变化-->
<!--listAnim的state transition的定义是侦测所有变化，所以当数组长度变化的时候，动画就会被出发-->
<!--<div [@listAnim]="projects.length" class="container">-->
<div [@listAnim]="listAnim$ | async" class="container">
  <app-project-item *ngFor="let project of (projects$ | async)" [item]="project" class="card"
                    (selected)="onProjectSelected(project)"
                    (editProjectEvent)="openEditProjectDialog(project)"
                    (deleteProjectEvent)="openDeleteProjectDialog(project)"
                    (inviteMemberEvent)="openInviteDialog(project)">
  </app-project-item>
</div>

<button class="fab-button" mat-fab type="button" (click)="openNewProjectDialog()">
  <mat-icon>add</mat-icon>
</button>
