.card {
  min-width: 300px;
  height: 360px;
  display: flex;
  flex: 0 0 20em;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 800px;
}

.fab-button {
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}
