<div class="task-lists">
  <app-task-list *ngFor="let list of (lists$ | async)" [ngStyle]="{'order': list.order}"
                 appDroppable appDraggable="true" [dragEnterClass]="'drag-enter'" [draggedClass]="'drag-start'"
                 [dragTag]="'task-list'" [dragData]="list" [dropTags]="['task-item', 'task-list']"
                 (dropped)="handleMove($event, list)"
                 class="list-container">
    <app-task-header [header]="list.name"
                     (newTaskEmitter)="openNewTaskDialog(list)"
                     (editTaskListEmitter)="openEditTaskListDialog(list)"
                     (deleteTaskListEmitter)="openDeleteTaskListDialog(list)"
                     (moveAllTaskEmitter)="openMoveAllTaskDialog(list)"></app-task-header>
    <app-task-item *ngFor="let task of list.tasks" [item]="task"
                   (itemClickEvent)="openEditTaskDialog(task)"
                   (itemCheckEvent)="onTaskCheck(task)"
                   [avatar]="task.owner.avatar"></app-task-item>
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="openNewTaskListDialog($event)">
  <mat-icon>add</mat-icon>
</button>
